
body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    background: #fffef9;
}
nav {
    background-color: #eaf8e0;
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo {
    height: 60px;
    margin-right: 20px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding-left: 0;
}
.nav-links li {
    font-size: 20px;
}
.nav-links a {
    text-decoration: none;
    color: green;
}
section {
    padding: 40px;
}
